node-red/data/flows.json
[{"id":"36aa665d.2c1aca","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b017dc42.9835d","type":"http in","z":"36aa665d.2c1aca","name":"","url":"/mockup/users","method":"get","upload":false,"swaggerDoc":"","x":270,"y":300,"wires":[["54a6a50.5de245c"]]},{"id":"92ec310b.31797","type":"http response","z":"36aa665d.2c1aca","name":"","statusCode":"","headers":{},"x":670,"y":280,"wires":[]},{"id":"54a6a50.5de245c","type":"function","z":"36aa665d.2c1aca","name":"","func":"msg.payload =\n  {\n    \"id\": \"1\",\n    \"name\": \"Adisak Phatiworakul\",\n    \"nickname\": \"ice\",\n    \"cell\": \"095-6464334\",\n    \"email\": \"Adisakphatiworakul@gmail.com\",\n    \"address\": \"910/101 M.10 Muang NongKhai, Nong Khai\",\n    \"line\": \"adisakice\",\n    \"years\": 25,\n    \"nationality\": \"nationality 1\",\n    \"sex\": \"Male\",\n    \"award\": [\n      \"Paper has been ACCEPTED for ORAL presentation at the NCCIT2018\"\n    ],\n    \"academic\": [\n      {\n        \"university\": \"Khon Kaen University\",\n        \"timeStart\": 2014,\n        \"timeEnd\": 2018,\n        \"major\": \"Faculty of Science Information Communication Technology\"\n      }\n    ],\n    \"experience\": [\n      {\n        \"company\": \"CAT Telecom (Khon Kean)\",\n        \"position\": \"Internship Operate&Maintenance\",\n        \"timeStart\": \"June 2017\",\n        \"timeEnd\": \"July 2017\",\n        \"works\": [\n          \"Check each cell sites for errors and make maintenance.\",\n          \"Install security system for cell sites.\"\n        ]\n      },\n      {\n        \"company\": \"I TRUST NETWORK Co.,LTD\",\n        \"position\": \"Software Developer\",\n        \"timeStart\": \"October 2018\",\n        \"timeEnd\": \"April 2021\",\n        \"works\": [\n          \"Developed an application Life Connects Android/IOS.\",\n          \"Developed an application tablet gives a specific version of the village and condo project.\",\n          \"Deployment on React Native application to both App Store and Google.\",\n          \"Research new technologies, work multi-task, and multiple projects.\",\n          \"Developed OpenApi for smart homes (Fibaro, Lumi, LifeSmart and Somfy) and Access Control (Hikvision).\",\n          \"Validates results by testing programs.\",\n          \"Support strategic technical solution to other developers.\",\n          \"Assisted in managing general development work.\"\n        ]\n      }\n    ],\n    \"skill\": [\n      \"React native\",\n      \"Node.js\",\n      \"ReactJS\",\n      \"Typescript\",\n      \"Java/Kotlin\",\n      \"Python\",\n      \"Docker\"\n    ],\n    \"database\": [\n      \"MariaDB/MySQL\",\n      \"MongoDB\",\n      \"InfluxDB\"\n    ]\n  }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":280,"wires":[["92ec310b.31797"]]}]